.productSelectorContainer{
   width: 100%;
   display: flex;
   justify-content: center;
}
.css-1h51icj-MuiAutocomplete-root .MuiFilledInput-root.MuiInputBase-sizeSmall .MuiFilledInput-input{
    font-family: sora;
}
.MuiAutocomplete-hasPopupIcon.css-1h51icj-MuiAutocomplete-root
  .MuiFilledInput-root,
.MuiAutocomplete-hasClearIcon.css-1h51icj-MuiAutocomplete-root
  .MuiFilledInput-root {
  background-color: white !important;
  border: 1px solid #d1d1d1 !important;
}